@charset "UTF-8";

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 13px;
}

header.topbar .navbar-header .navbar-brand {
  display: block;
}

header.topbar .navbar-header .navbar-brand img {
  height: 66px;
}

header.topbar .nav-item.right-side-toggle .ti-user {
  padding: 10px;
  background: #ccc;
  border-radius: 50%;
}

.left-sidebar .sidebar-nav > ul li {
  margin: 1px 0px;
}

.left-sidebar .sidebar-nav > ul li a {
  padding: 4px 35px 10px 4px;
  font-size: 13px;
}

.btn-link {
  color: #0085ba !important;
}

.btn-link:hover {
  color: #0085ba;
}

a {
  color: #008ece;
}

.order-product-quantity {
  width: 100px;
}

.order-product-price {
  width: 150px;
}

.right-form .card-header-accordion {
  padding: 3px 10px;
}

.right-form .card-header-accordion .btn-collapse-title {
  text-decoration: none;
  font-size: 13px;
}

.right-form .card-header-accordion .btn-collapse-title :after {
  font-size: 10px;
}

.element-form-control {
  border: 1px solid #e9ecef;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  cursor: pointer;
  height: 30px;
}

.select2-container .select2-selection--single {
  height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px;
}

.card-header-order-accordion {
  padding: 5px 10px;
}

.modal-header-custom {
  background: #226faa;
  background: linear-gradient(to right, #226faa 0, #2989d8 37%, #72c0d3 100%);
  color: #fff;
}

.modal-header-custom .close {
  color: #fff;
}

.row-no-padding > [class*=col-] {
  padding-left: 0 !important;
  padding-right: 5px !important;
}

body {
  font-weight: 400;
}

.bdrdu-0 {
  border-radius: 0px;
}

.bdrdu-1 {
  border-radius: 1px;
}

.bdrdu-2 {
  border-radius: 2px;
}

.bdrdu-3 {
  border-radius: 3px;
}

.bdrdu-4 {
  border-radius: 4px;
}

.bdrdu-5 {
  border-radius: 5px;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 29px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-39 {
  font-size: 30px;
}

.box-header-fixed {
  justify-content: space-between;
  position: fixed;
  top: 66px;
  width: inherit;
  left: 0;
  right: 0;
  z-index: 9;
  left: 220px;
  border-bottom: 1px solid #f1f1f1;
  padding-left: 25px;
  padding-right: 25px;
}

.box-header-fixed.page-titles {
  margin: 0px;
}

@media (max-width: 767px) {
  .mini-sidebar .box-header-fixed {
    left: 0px;
  }
}

#main-content {
  margin-bottom: 80px;
}

.btn-collapse-title:after {
  font-family: "themify";
  content: "\E64B";
  float: right;
  color: grey;
}

.btn-collapse-title[aria-expanded=true]:after {
  content: "\E648";
}

.card-header-accordion {
  border-bottom: 1px solid #ddd;
}

.dropdown-divider {
  border-top: 1px solid #e9ecef;
}

.btn-small {
  padding: 2px 8px;
  font-size: 11px;
}

.btn-status {
  padding: 3px 8px;
  font-size: 11px;
  border-radius: 3px;
  color: #fff;
}

.text-decoration-under {
  text-decoration: underline;
}

.btn-crud {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  box-shadow: 0 1px 0 #ccc;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 28px;
  margin: 0;
  padding: 2px 20px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}

.btn-crud-primary {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.btn-crud-success {
  background: #4CAF50;
  border-color: #4CAF50 #4CAF50 #4CAF50;
  box-shadow: 0 2px 0 #387d3b;
  color: #fff;
  text-decoration: none;
}

.btn-crud-danger {
  background: #FF5722;
  border-color: #FF5722 #FF5722 #FF5722;
  box-shadow: 0 2px 0 #ab401f;
  color: #fff;
  text-decoration: none;
}

.btn-crud-warning {
  background: #FFC107;
  border-color: #FFC107 #FFC107 #FFC107;
  box-shadow: 0 2px 0 #FF9800;
  color: #fff;
  text-decoration: none;
}

section#form-footer {
  display: block !important;
  position: fixed;
  bottom: 0;
  left: 220px;
  width: 100%;
  z-index: 100;
  box-shadow: 2px -1px 4px #efefef;
  border-top: 1px solid #e9ecef;
  background: white;
}

#form-actions {
  padding: 10px;
}

@media (min-width: 768px) {
  .mini-sidebar .box-header-fixed {
    left: 70px;
  }

  #form-actions {
    padding-right: 0px;
    padding-left: 0px;
  }

  #group-amount {
    padding-left: 25px;
  }
}

.material-switch > input[type=checkbox] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
}

.material-switch > label::before {
  background: black;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: "";
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch > label::after {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: "";
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch > input[type=checkbox]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}

.material-switch > input[type=checkbox]:checked + label::after {
  background: inherit;
  left: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: inherit;
}

.bottom-80 {
  margin-bottom: 80px;
}

.crud.crud-save form .left-form .card .card-header .d-flex {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
}

.crud .nav-tabs .nav-item {
  cursor: pointer;
}

.crud #collapseStatus .status ul li {
  display: flex;
}

.crud #filter-crud button.btn-success {
  white-space: nowrap;
}

.crud label {
  display: block;
}

.crud .btn-show-status {
  padding: 3px 8px;
  font-size: 11px;
  border-radius: 3px;
  color: #fff;
}

.crud .btn-show-lang {
  padding: 2px 8px;
  font-size: 11px;
  cursor: pointer;
}

.crud .btn-option .btn-group > a {
  width: 85px;
  padding: 1px 2px;
  border-radius: 3px 0px 0px 3px;
  text-align: left;
  padding-left: 5px;
}

.crud .btn-option .btn-group > a:hover {
  background: #e6e6e6;
}

.crud .btn-option .btn-group > span {
  border-radius: 0px 3px 3px 0px;
  border-left: 0px;
  padding: 2px 3px;
}

.crud .btn-option .dropdown-menu {
  right: 0px;
  top: 100% !important;
  left: auto !important;
  max-width: 100px;
  min-width: 100px;
  margin-top: -2px;
  border-radius: 0px 0px 3px 3px;
  -webkit-transform: none !important;
          transform: none !important;
  border: 1px solid #ccc;
  background: #f7f7f7;
  padding: 0px;
}

.crud .btn-option .dropdown-menu > a {
  width: 100%;
  display: block;
  padding: 2px 5px;
  font-weight: 500;
  font-size: 12px;
  color: #131212;
  border-bottom: 1px solid #ccc;
}

.crud .btn-option .dropdown-menu > a:hover {
  background: #e6e6e6;
}

.crud .btn-option .btn-default-custom {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}

.crud .btn-current-lang {
  background: #f59b16;
  color: #fff;
  padding: 1px 3px;
  border-radius: 2px;
  font-size: 11px;
}

.form-group-select-permission .item-module {
  position: relative;
}

.form-group-select-permission .item-module > span {
  position: absolute;
  top: -14px;
  left: 8px;
  padding: 5px;
  background: #fff;
}

.select2-container .select2-selection--multiple {
  min-height: 30px;
}

.select2-container--default .select2-selection--single,
.select2-container .select2-selection--multiple {
  border-color: #e9ecef;
}

.form-group {
  margin-bottom: 10px;
}

table.table-custom thead > tr > th {
  background: #f6f8fa;
  vertical-align: middle;
  border-bottom: 1px solid;
  border-color: #ebf5ff;
  font-size: 13px;
  padding-top: 9px;
  padding-bottom: 8px;
  background: #ebf5ff;
}

.table.table-custom > tbody > tr > td,
.table.table-custom > tbody > tr > th,
.table.table-custom > tfoot > tr > td,
.table.table-custom > tfoot > tr > th,
.table.table-custom > thead > tr > td,
.table.table-custom > thead > tr > th {
  border-top: 1px solid #ebf5ff;
}

.table.table-custom > tbody > tr > td,
.table.table-custom > tfoot > tr > td {
  padding: 10px 10px 5px 10px;
}

table.table-custom tbody tr:first-child td {
  border-top: 0;
}

.col-5c,
.col-sm-5c,
.col-md-5c,
.col-lg-5c,
.col-xl-5c {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-5c {
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-5c {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 720px) {
  .col-md-5c {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 960px) {
  .col-lg-5c {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1140px) {
  .col-xl-5c {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.panel-header {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 5px 10px;
}

@media (min-width: 576px) {
  .form-control-inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.no-border-radius {
  border-radius: 0px;
}

.w-auto {
  width: auto;
}

.title-small {
  font-size: 12px;
}

.p-custom-10 {
  padding: 10px;
}

.highlight-record {
  background: #e0e0e0;
}

.page-titles {
  padding: 5px 10px;
  margin: 0px 0px 1px 0px;
}

.page-titles h4 {
  font-size: 16px;
}

header.topbar > .navbar {
  height: 40px;
}

.page-wrapper > .container-fluid {
  padding: 10px 10px;
}

.fixed-header .page-wrapper,
.fixed-layout .page-wrapper {
  padding-top: 50px;
}

input.form-control,
select.form-control {
  min-height: 25px;
  display: initial;
  height: 30px;
  padding: 2px 5px;
  font-size: 13px;
}

button.btn {
  height: 30px !important;
  padding: 2px 8px;
  font-size: 13px;
}

.box-header-fixed {
  top: 50px;
}

#form-actions {
  padding-right: 35px;
}

.pagination li .page-link {
  padding: 3px 8px;
  color: #fb9678;
  font-size: 13px;
}

.no-padding {
  padding-left: 0px;
}

.mini-sidebar .light-logo {
  max-width: 100%;
  height: auto !important;
}

.navbar-header .navbar-brand {
  text-align: center;
}

.trash-color {
  color: red !important;
}

.trash-size {
  font-size: 18px !important;
}

.navbar-header .navbar-brand {
  text-align: center;
}

.top-bar-user .nav-link {
  display: flex;
  padding: 0px 10px;
}

.top-bar-user .bor-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.top-bar-user .bor-img .img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.top-bar-user .bor-img .img img {
  vertical-align: top;
}

.top-bar-user .name {
  font-size: 13px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
}

.top-bar-user .dropdown-menu {
  padding: 0px;
  margin: 0px;
}

.top-bar-user .dropdown-menu a {
  border-bottom: 1px solid #ccc;
}

.top-bar-user .dropdown-menu a:hover {
  background: #e6e5e5;
}

.top-bar-user .dropdown-menu .info {
  border-bottom: 1px solid #ccc;
}

.history_deleted {
  display: inline-block;
  max-height: 30px;
  min-height: 30px;
  height: 30px;
  overflow: hidden;
  padding: 5px !important;
}

.history_deleted i {
  font-size: 16px !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #212529;
}

#loading-processing {
  background: url(/images/table-loading.png) no-repeat;
  width: 100%;
  height: 60px;
}

.loading-processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

.loading-processing {
  border: 0;
  box-shadow: none;
  background: 0 0;
}

.dt-loader:not(:required) {
  -webkit-animation: loader 2s 0.3s infinite ease-out;
  animation: loader 2s 0.3s infinite ease-out;
  background: #f0f0f0;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999999999999999;
}

.dt-loader:not(:required):after,
.dt-loader:not(:required):before {
  background: #f0f0f0;
  content: "x200B";
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}

.dt-loader:not(:required):before {
  -webkit-animation: loader 2s 150ms infinite ease-out;
  animation: loader 2s 150ms infinite ease-out;
  left: -1.6em;
}

.dt-loader:not(:required):after {
  -webkit-animation: loader 2s 450ms infinite ease-out;
  animation: loader 2s 450ms infinite ease-out;
  right: -1.6em;
}

@-webkit-keyframes loader {
  0% {
    background: #f0f0f0;
  }

  10% {
    background: #c5c5c5;
  }

  40% {
    background: #f0f0f0;
  }
}

@keyframes loader {
  0% {
    background: #f0f0f0;
  }

  10% {
    background: #c5c5c5;
  }

  40% {
    background: #f0f0f0;
  }
}

.cursor-pt {
  cursor: pointer;
}

.has-error .select2-selection {
  border-color: #e46a76 !important;
}

.card-custom {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 10px;
}

.card-custom .card-header {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #ddd;
}

.card-custom .card-footer,
.card-custom .card-header {
  padding: 0.75rem 1rem;
}

.card-custom .card-body {
  padding: 1rem;
}
/**
 * custom style
 */
.left-sidebar .sidebar-nav > ul li {
    padding-left: 15px;
}
.mini-sidebar .left-sidebar .sidebar-nav > ul li {
    padding-left: 0;
}
.topbar .top-navbar .navbar-header {
    line-height: 56px;
}
.admin__link {
  padding: 5px 20px;
}
.admin__link li {
    line-height: 25px;
}
.admin__link li a {
  border: none!important;
  color:#333!important;
}
.admin__link li a:hover {
  background: none!important;
  color: #03a9f3!important;
}